
@media screen and (min-width: 488px) and (max-width: 575px){

    .col-xs-1 { width: 8.33%;}
    .col-xs-2 { width: 16.66%;}
    .col-xs-3 { width: 25%;}
    .col-xs-4 { width: 33.33%;}
    .col-xs-5 { width: 41.66%;}
    .col-xs-6 { width: 50%;}
    .col-xs-7 { width: 58.33%;}
    .col-xs-8 { width: 66.66%;}
    .col-xs-9 { width: 75%;}
    .col-10{ width: 83.33%; }
    .col-11{ width: 91.66%; }
    .col-12{ width: 100%; }
}

.container{
    /*border: 1px solid red;*/
}

.img-responsive{
    height: 100%;
    width: 100%;
}

.main-logo {
    height: 150px;

 }
.main-logo img {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

.border-bottom-set {
    border-bottom: 1px solid brown;
}

/*Transfarent Background*/

.logo-background {
    background: url("../images/photograph/IMGL7541.jpg");
    background-size: cover;
}
.logo-transback {
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
/*Transfarent Background*/


.nav-background {
    background-color: #ffd740;
}
.section-background {
    background-image: url("../images/background-repeat-1.jpg");
    background-size: 10% 100%;
    background-attachment: fixed;
}
.food-banner {
    background-image: url("../images/food/banner-food.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.drinks-banner {
    background-image: url("../images/coffee/drinks-banner.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.banner-height {
    height: 200px;
    margin-top: 80px;
}
